<div class="container mt-3">
  <%= partial 'bio_and_contact' %>
  <hr />

  <%= partial 'technical_skill' %>
  <hr />

  <%= partial 'working_history' %>
  <hr />

  <div class="row">
    <div class="col-12 col-sm-7 col-md-5">
      <%= partial 'education' %>
    </div>

    <div class="col-12 col-sm-5 col-md-7">
      <%= partial 'english_skill' %>
    </div>
  </div>
</div>
